.Table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.Table thead {
    background: #00727a;
    color: #fff;
    text-transform: uppercase;
}
.Table td,
.Table th {
    padding: 6px 10px 8px;
    border-bottom: 1px solid rgb(202, 198, 198);
}

.tableProductName {
    font-size: 1.3em;
}
.tableAfflicateButtons img {
    max-width: 150px;
}
.rating {
    position: relative;
    width: 80px;
    display: inline-block;
}
.starRow {
    white-space: nowrap;
    display: block;
    overflow: hidden;
    color: #aaa;
}
.starRowFilled {
    left: 0;
    top: 0;
    color: #FFB100;
    position: absolute;

}
.star {
    width: 16px;
    height: 16px;
    display: inline-block;
}
.rating .star svg{
    max-width: 100%;
    height: auto;
}